.footer__nav {
    background-color: var(--footer-color);
    height: min-content;
   
    width: 100vw;
   

}

.footer__menu {
   
}

.footer__menu__list {
    list-style: none;
}

.footer__menu__item {
    text-decoration: none;
    font-size: .75rem;
    color: var(--primary-font-color);
}

.footer__logoSocial {
   
    text-align: center;
    border-left: 1px solid var(--primary-font-color);
    border-right: 1px solid var(--primary-font-color);
}

.footer__logoSocial__icons{
    
    text-align: center;
}


.footer__location{
   

}
.footer__location__text span{
    display: flex;
    flex-direction: column;
   
    
}
.footer__location__text span > .paragraph {
    font-size: .75rem;
}
.footer__location__map{

}
.footer__author{
    height: 2rem;
    background-color: var(--primary-color);
    width: 100vw;
}
.footer__author .paragraph{
    font-size: .75rem;
}