.header{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/sections/main.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 3rem;
}

.nav_logo{

}

.nav__list{
    list-style: none;
    display: flex;
    

}
.nav__list__item{
    text-decoration: none;
    margin: 0 1rem;
    color: var(--primary-font-color);
}

.nav__list__item:hover{
   
}

.header__heading-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 2rem;
    min-height: 55vh;
    width: 50vw;
    background-color: var(--secondary-color);
    box-shadow: 1px 0 6px var(--secondary-font-color-lighter);
}


.header_data{
  
  
}
.data__container{
    height: 3rem;
    display: flex;
    justify-content: flex-start;   
    align-items: center;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
}

.data__container__n{
    margin: 0 3rem;
    display: flex;
    align-items: center;
}