.header{
    width: 100vw;
    height: 100vh;
    background: url(../img/sections/main.jpg) right no-repeat fixed;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 3rem;
}

.nav__list{
    list-style: none;
    display: flex;
}
.nav__list__item{
    text-decoration: none;
    margin: 0 1rem;
    color: var(--primary-font-color);
}

.header__heading-box{
   
    padding: 2rem 2rem;
    min-height: 55vh;
    width: 50vw;
    background-color: var(--secondary-color);
    box-shadow: 1px 0 6px var(--secondary-font-color-lighter);
}


.data__container{
    height: 3rem;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
}

.data__container__n{
    margin: 0 3rem;
   
}