.main > *{
padding: 3rem 2rem;
}


.about, .menu{
    display: flex;
    justify-content: center;
    
}

.about_imgContainer, .menu_imgContainer{
    position: relative;
    height: min-content;
    
}

.about_imgContainer::before, .menu_imgContainer::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    
    border: 1px solid var( --secondary-font-color-lighter);
    
}
.about_imgContainer::before{
    transform: translate(1rem, 1rem);
}

.menu_imgContainer::before{
    transform: translate(-1rem, 1rem);   
}
img{
    width: 18rem;
    position: relative;
}
.about_text{
    
    padding: 0 3rem;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about_social{
   
    display: flex;
    align-items: center;
}
.about_social_icons{
    margin-left: 1rem;
}






.menu_text{
    
    padding: 0 3rem;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}