.opinions-section{
    background-color: var(--primary-color);
    height:auto;
}
.opinions{
    background-color: var(--primary-color);
    min-height: 45vh;
    width: 100vw;
    position: relative;
}
.opinions__opinion__n{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: none;
    width:80%;
    height: 100%;  
}
.opinions__opinion__n--active{
    animation: slidersAnimation 7s ease-in-out 0s 1 normal none;
    display: flex;
}
.opinions__opinion_n__img{
    width: 11.5rem;
    height: 8rem;
    clip-path: circle(40%); 
}
.opinions__menu__circle{
    margin-bottom: 1rem;
    width: 1rem;
    height: 1rem;
    clip-path: circle(40%);
    background-color: var(--secondary-color);
    border: .7rem solid transparent;
    transition: .5s all ease-in-out;
    opacity: 0.5;
}
.opinions__menu__circle--active{
    border: .7rem solid  var(--secondary-color);
    opacity: 1;
}
.opinions__menu__circle:hover{
    border: .7rem solid  var(--secondary-color);
    opacity: 1;
}

@keyframes slidersAnimation{
    0%{  
        margin-right: -100%;    
    }
    30%{
        margin-right:0; 
    }
    35%{
        margin-right:-5%; 
    }
    40%{
        margin-right:0; 
    }
    75%{
        margin-right:0; 
    }
    100%{
        margin-right: 100%; 
    }
}

@media only screen and (max-width: 1600px) {
  .opinions-section{
    padding: 1rem 0;
    height: max-content;
  }
  .opinions__opinion_n{

    height: max-content;
  }
  .opinions__opinion_n__img{
    width: 14.5rem;
    height: 11rem;
  
}
}
@media only screen and (max-width: 600px) {
    .opinions-section{
        width: 100vw;
        height: auto;
    }

  }