.opinions{
    background-color: var(--primary-color);
    height: min-content;
    width: 100vw;
}
.opinions__opinion_n__img{
    width: 11.5rem;
    height: 8rem;
    clip-path: circle(40%); 
}

.opinions__menu__circle{
    margin: .5rem .25rem;
    width: 1rem;
    height: 1rem;
    clip-path: circle(40%);
    background-color: var(--secondary-color);
}