.reservation {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.753), rgba(255, 255, 255, 0.788)), url('../img/sections/reservation.jpg') center no-repeat fixed;
    background-size: cover; 
    position: relative;   
}

.reservation__decorBorder{
    min-width: 50rem;
    min-height: 30rem;
    border: .1rem solid var(--primary-font-color);
    background-color: none;
    position: absolute;
    z-index: 1;
}
.reservation__text {
    text-align: center;
    width: 70%;
}

.reservation__form {
    position: relative;
    z-index: 2;
}

.reservation__form__input::-webkit-outer-spin-button,
.reservation__form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }

.reservation__form__input, .newsletter__form__input {
    font-size: .75rem;
    font-family: 'Raleway';
    color: var(--secondary-font-color-lighter);

    border: none;
    box-shadow: 1px 3px 2px var(--secondary-font-color-lighter);
    padding: .5rem .5rem;
}

.reservation__form__input::placeholder, .newsletter__form__input::placeholder{
    color: var(--secondary-font-color-lighter);  
}

.btn--submit {
    grid-column: 1 /3;
    justify-self: center;
}

.reservation__form__input:focus, .newsletter__form__input:focus{
    outline: none;
}


.reservation__result{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100vw;
    height: auto;
    background-color: var(--teritary-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s linear;
   
}

.reservation__result p{
  
   padding: .1rem 0;
    color: var(--primary-font-color);
    font-size: .5rem;
}