/*headings, buttons\/*/
html{
    font-size: 28px;
}

@media only screen and (max-width: 1200px) {
    html{
        font-size: 20px;
    }
}
@media only screen and (max-width: 800px) {
    html{
        font-size: 15px;
    }
}
@media only screen and (max-width: 600px) {
    html{
        font-size: 10px;
    }
}


body{
    font-family: 'Raleway';
}
.heading{
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 1rem;
}
.heading--smaller{
    font-size: 2rem;
    font-weight: normal;
}
.heading--blue{
    color: var(--teritary-font-color);
}
.heading--white{
    color: var(--primary-font-color);
}
.heading--green{
    color: var(--quaternary-font-color);
}
.paragraph{
    font-size: 1rem;
}
.paragraph--white{
    color: var(--primary-font-color);
}
.paragraph--grey{
    color: var( --secondary-font-color-lighter);
}
.paragraph--darkGrey{
    color: var( --secondary-font-color);
}
.paragraph--decor{
    font-family: 'Dancing Script';
    font-size: 2rem;
    color: var(--quaternary-font-color);
}
.paragraph--menu{
    font-size: 1.5rem;
    color: var(--quaternary-font-color);  
}
.btn{
    font-family: 'Noto sans JP';
    width: 8rem;
    height: 2rem;
    font-size: .75rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--primary-font-color);
    border: none;
    outline: none;
    cursor: pointer;
}
.btn--green{ 
    background-color: var(--quaternary-font-color);
}
.btn--pink{
    background-color: var(--additiona-font-color);
}

.btn:hover{
    background-color: var(--teritary-font-color);
    transition: .2s ease-in-out;
}
.icon{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 .75rem;
    cursor: pointer;
}
.icon--white{
    fill: var( --primary-font-color);
}
.icon--green{ 
    fill: var( --quaternary-font-color);
}
.icon--blue{
    fill: var(--teritary-font-color); 
}
.icon--darkGrey{
    fill: var(--secondary-font-color);
}
