.margin-0{
    margin: 0;
}
.margin-bottom-1 {
    margin-bottom: 1rem;
}
.margin-bottom-2 {
    margin-bottom: 2rem;
}
.margin-top-1 {
    margin-top: 1rem;
}
.margin-top-2 {
    margin-top: 2rem;
}
.margin-topBottom-1 {
    margin: 1rem 0;
}
.margin-topBottom-2 {
    margin: 2rem 0;
}
.padding-topBottom-1 {
    padding: 1rem 0;
}
.padding-1 {
    padding: 1rem;
}
.padding-2 {
    padding: 2rem;
}
.padding-left-2{
    padding-left: 2rem;
}
.padding-leftRight-4 {
    padding: 0 4rem;
}
.padding-leftRight-1 {
    padding: 0 1rem;
}
.padding-leftRight-2 {
    padding: 0 2rem;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.grid-2col-4row {
    display: grid;
    grid-gap: .5rem 1rem;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-columns: min-content min-content;
}
.grid-3-col {
    width: min-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 0 auto;
    border: solid 1px var(--secondary-font-color-lighter);
}
.flex-self-end{
    align-self: flex-end;
}